# File: .github/workflows/docker-build.yml
name: Build and Push Docker Image to GHCR

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Log in to GitHub Container Registry
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Step 3: Build and push the Docker image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.prod
          push: true
          # tags: |
          #   ghcr.io/${{ github.repository_owner }}/mechanico-cms:latest
          #   ghcr.io/${{ github.repository_owner }}/mechanico-cms:${{ github.sha }}
          tags: |
            ghcr.io/${{ github.actor }}/mechanico-cms:latest
            ghcr.io/${{ github.actor }}/mechanico-cms:${{ github.sha }}
          labels: |
            org.opencontainers.image.title=mechanico-cms
            org.opencontainers.image.description=Fixed Workshop Issue of not returning services or vehicles ${{ github.sha }}
            org.opencontainers.image.version=${{ github.sha }}